<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Building healthier digital habits for a better tomorrow.">
  <meta name="keywords" content="Unplug UMich">
  <meta property="og:title" content="Unplug UMich">
  <meta property="og:description" content="Building healthier digital habits for a better tomorrow.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/assets/images/unplugumichlogo.png">
  <title>Unplug UMich</title>
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/unplug-umich-favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-form@4.3.0/dist/jquery.form.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.1-beta.38/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.1-beta.38/dist/semantic.min.js"></script>
  <style>
     #left-sidebar-toggle {
      position: fixed;
      right: 2em;
      z-index: 101;
    }
  </style>
</head>